.sign-in {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.sign-in p,
.sign-in a {
    font-size: 0.8rem;
}




@media  (min-width :770px) {
    .container-wrapper {
        padding: 2rem;
        width: unset;
        /* background-color: #060C3E; */
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
        display: flex;
        text-align: center;
        justify-content: center;
        border-radius: 1rem;
    }
}