@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #fff;
    height: 100vh;
}

#login-form input[type="password"],
#login-form input[type="text"]{
    width: 100%;
    padding: 12px 36px 12px 12px;
    box-sizing: border-box;
}

.password-container {
    position: relative;
}

.fa-eye {
    position: absolute;
    top: 28%;
    right: 4%;
    cursor: pointer;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 2rem 0;
}

.container-wrapper {
    padding: 1rem;
    width: 90%;
    /* background-color: #060C3E; */
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

form a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    cursor: pointer;
}

form a:hover {
    color: #FF8B6A;
}

.logo-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.logo-area h1 {
    color: #FF8B6A;
    font-size: 1.2rem;
}

.logo-area img {
    display: flex;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.login i {
    background-color: #060C3E;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}


.create-account {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.create-account h1 {
    font-size: 1rem;
    display: flex;
}

.create-account span {
    font-size: 0.7rem;
    display: flex;
    margin: 0;
    text-align: start;
}

#login-form input[type="password"],
#login-form input[type="text"],
#login-form input[type="email"] {
    width: 100%;
    padding: 12px 36px 12px 32px;
    box-sizing: border-box;
    border-radius: 0.5rem;
    outline: none;
    border: 1px solid gray;
}

.response {
    color: red;
    font-size: 0.9rem;
}

.response-okay {
    color: green;
    font-size: 0.9rem;
}

.register {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.terms {
    display: flex;
    align-items: self-start;
}

.terms input {
    scale: 0.8;
}

.terms a {
    color: #FF8B6A;
    cursor: pointer;
}

.terms a:hover {
    color: blue;
}

.terms p {
    font-size: 0.5rem;
}

.sign-up-button button {
    width: 100%;
    padding: 12px 36px 12px 32px;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #060C3E;
    color: #fff;
    font-weight: 500;
}

.sign-in {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.sign-in p {
    margin-top: 0.1rem;
}

.sign-in p,
.sign-in a {
    font-size: 0.8rem;
}

@media  (max-width :769px) {
    .logo-area img {
       width: 1.5rem;
    }

    .logo-area h1 {
        font-size: 0.9rem;
    }

    .login i {
        font-size: 0.8rem;
    }
}

@media  (min-width :770px) {
    .container-wrapper {
        padding: 2rem;
        width: unset;
        /* background-color: #060C3E; */
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
        display: flex;
        text-align: center;
        justify-content: center;
        border-radius: 1rem;
    }
}