@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #fff;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin: 3rem 0 2rem 0;
}

.container-wrapper {
    background-color: #060C3E;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 1rem;
}

.login {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.login i {
    background-color: #060C3E;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.sign-in-form {
    background-color: #fff;
    margin: 3rem 0.8rem 1.5rem 0.8rem;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 3rem;
}

.sign-in-form input[type="password"],
.sign-in-form input[type="text"],
.sign-in-form input[type="email"] {
    width: 100%;
    padding: 12px 36px 12px 32px;
    box-sizing: border-box;
    border-radius: 0.5rem;
    outline: none;
    border: 1px solid gray;
}

/* input:hover {
    color: red;
} */

.password-container,
.envelope {
    position: relative;
}

.fa-eye {
    position: absolute;
    top: 28%;
    right: 4%;
    cursor: pointer;
}

.fa-lock,
.fa-envelope {
    position: absolute;
    cursor: pointer; 
    left: 4%;
    font-size: 0.8rem;
}

.fa-envelope {
    top: 32%;
}

.security {
    display: flex;
    align-items: center;
}

.logo-area {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-area h1 {
    color: #FF8B6A;
    font-size: 1.2rem;
}

.logo-area img {
    scale: 0.6;
    background-color: #060C3E;
    padding: 1.2rem;
    border-radius: 2.2rem;
}

.email,
.pass {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

form h4 {
    display: flex;
    font-size: 0.8rem;
}

.login-area {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.checkbox input {
    width: 0.8rem;
}

.checkbox span,
.login-area a {
    font-size: 0.8rem;
    font-weight: 600;
    color: #000;
}

.login-area a {
    text-decoration: none;
}

.login-area .remember-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign-in-button a {
    color: #fff;
}

.sign-in-button button {
    width: 100%;
    padding: 12px 36px 12px 32px;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #060C3E;
    color: #fff;
    font-weight: 500;
}

.sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.sign-up p {
    font-size: 0.8rem;
}

.sign-up a:hover {
    color: #FF8B6A;
}

@media (max-width: 760px) {
    .sign-in-form {
        background-color: #fff;
        margin: 3rem 0.8rem 1.5rem 0.8rem;
        padding: 2rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        padding: 0.7rem 0.7rem 1.5rem 0.7rem;
    }

    .container-wrapper {
        background-color: #060C3E;
        display: flex;
        text-align: center;
        justify-content: center;
        border-radius: 1rem;
        padding: 0.5rem;
    }
}